<%= render "layouts/logged_in_project" %>
<div class="content-container">
  <div class="records-container">
    <div class="records-container__record">
      <%= render "masonry_sheets/masonry_sheet_nested" %>
    </div>
  </div>
</div>