<p>REGISTRO DE EDIFICACIONES</p>

<form action=<%= "/projects/#{params[:project_id]}/building_sheets"%> method="post">
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <input name="context[site_code]" placeholder="Código de contexto">
  <input name="context[area]" placeholder="Área">
  <input name="context[context]" placeholder="Número de U.E">
  <input name="context[date]" placeholder="Fecha de registro">
  <input name="context[recorded_by]" placeholder="Registrado por">
  <input name="context[below]" placeholder="Cubre a">
  <input name="context[above]" placeholder="Es cubierto por">
  <input name="context[section]" placeholder="Sección">
  <input name="context[trench]" placeholder="Sondeo">
  <input name="context[interpretation]" placeholder="Interpretación">
  <input name="building_sheet[description]" placeholder="Descripción">
  <input name="building_sheet[substructure]" placeholder="Subestructura">
  <button>Guardar ficha</button>
</form>