<%= render "layouts/logged_in_project" %>
<div class="content-container">
  <div class="records-container">
    <div class="records-container__record">
      <%= render "building_sheets/building_sheet_update" %>
    </div>
  </div>
</div>