<%= stylesheet_link_tag    'leaflet', media: 'all' %>
<%= javascript_include_tag "projects-edit-bundle" %>
<%= render "layouts/logged_in" %>
<div class="content-container">
  <%= render "/projects/edit_project_form" %>
  <div id="project-map-container"></div>
</div>
