
<%= stylesheet_link_tag    'leaflet', media: 'all' %>
<%= javascript_include_tag "add-project-to-map-bundle" %>
<%= render "layouts/logged_in" %>
<div class="content-container">
  <%= render "/projects/createProjectForm" %>
  <div id="project-map-container"></div>
</div>
