
<%= stylesheet_link_tag    'leaflet', media: 'all' %>
<%= render "layouts/logged_in" %>
<div class="content-container">
  <%= render "/projects/createProjectForm" %>
  <div id="project-map-container"></div>
</div>

<%= javascript_include_tag "leaflet.js" %>