<%= render "layouts/logged_in_project" %>
<div class="content-container">

  <% if @context.contextable_type.blank? %>
    <%= render "timber_sheet" %>
  <% else %>
    <%= render @context.contextable_type.underscore %>
  <% end %>
</div>
