<div class="record-sheet record-sheet--timber">
  <p>REGISTRO DE MADERA</p>

  <form action=<%= "/projects/#{params[:project_id]}/timber_sheets"%> method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <input name="context[site_code]" placeholder="Código de contexto">
    <input name="context[area]" placeholder="Área">
    <input name="context[context]" placeholder="Número de U.E">
    <input name="context[date]" placeholder="Fecha de registro">
    <input name="context[recorded_by]" placeholder="Registrado por">
    <input name="timber_sheet[description]" placeholder="Descripción">
    <input name="context[below]" placeholder="Cubre a">
    <input name="context[above]" placeholder="Es cubierto por">
    <input name="context[section]" placeholder="Sección">
    <input name="context[trench]" placeholder="Sondeo">
    <input name="context[interpretation]" placeholder="Interpretación">
    <input name="timber_sheet[species]" placeholder="Descripción">
    <input type="checkbox" value="false" name="timber_sheet[dendro_sample]" placeholder="Muestra">
    <input type="checkbox"  name="timber_sheet[knotty]" placeholder="M">
    <input type="checkbox" value="false" name="timber_sheet[bark]" placeholder="tra">
    <input type="checkbox" value="false" name="timber_sheet[sapwood]" placeholder="tra">
    <button>Guardar ficha</button>
  </form>
</div>