<h1>ARCHIO</h1>
<p>Es una herramienta para la gesti贸n de la informaci贸n arqueol贸gica derivada de los trabajos de excavaci贸n de yacimientos</p>
<p>Si quiere explorar los yacimientos gestionados con archio visite el MAPA</p>
<p>Si quiere gestionar sus propios proyectos puede</p>
<p><%= link_to 'Darse de alta', new_user_registration_path %></p>
<p>o</p>
<p><%= link_to 'Entrar en su perfil', new_user_session_path %></p>

