@import "variables";


*,
*:before,
*:after{
  box-sizing:border-box;
}
body{
  background-color: $background-color;
  font-family: $font-stack;
}

ul, li{
  list-style:none;
}
a{
  color: $main-color;
  text-decoration: none;
}
.container{
  display: flex;
}
.flash{
  position: absolute;
  right: 20px;
  bottom: 20px;
}