@import "variables";

.main-navigation{
  position: fixed;
  flex-basis: 17vw;
  padding: 10px;
  font-family: $font-stack;
  flex-direction: column;
  height: 100vh;
  width: 17vw;
  background-color: $main-color;
  -webkit-box-shadow: 3px 2px 1px 0px rgba(204, 204, 204, 1);
      -moz-box-shadow:    3px 2px 1px 0px rgba(204, 204, 204, 1);
      box-shadow:         3px 2px 1px 0px rgba(204, 204, 204, 1);
  .main-navigation__item--user{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px;
    color: black;
  }
  .main-navigation__item{
    margin-top: 20px;
  }
  .main-navigation__item a{
    color: $background-color;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 10px;
  }
  .user_profile{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
  }
  .user_projects{
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 10px;
    color: $background-color;
  }
}