@import "variables";

.main-navigation{
  display: flex;
  padding: 10px;
  font-family: $font-stack;
  flex-direction: column;
  height: 100vh;
  width: 17vw;
  background-color: $main-color;
  .main-navigation__item--user{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px;
  }
  .main-navigation__item{
    margin-top: 20px;
  }
  .main-navigation__item a{
    color: $background-color;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 10px;
  }
}