@import "variables";

.login-container{
  display: flex;
  flex-direction: column;
  margin: 120px auto;
  height: 400px;
  width: 350px;
  background-color: $card-color;
  -webkit-box-shadow: 3px 2px 1px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow:    3px 2px 1px 0px rgba(204, 204, 204, 1);
  box-shadow:         3px 2px 1px 0px rgba(204, 204, 204, 1);
  .login-title{
    color:$main-color;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
  }
}