@import "variables";
@import "leaflet";

.edit-buttons{
  position:absolute;
  right: 20px;
  top: 30px;
}
.edit-buttons a{
  padding: 5px;
  text-transform: uppercase;
  color: $card-color;
}

.single-project{
  display: flex;
  flex-direction: column;
  .single-project__name{
    font-size: 2.5rem;
    padding: 20px;
    color: $main-color;
    h1{
      text-transform: uppercase;
    }
  }
  .single-project__information{
    display: flex;
    flex-direction: row;
    .project__description{
      flex-grow: 1;
      max-width: 50%;
      margin:20px;
      padding:20px;
      height: 300px;
      line-height: 1.3rem;
      background-color: $card-color;
      -webkit-box-shadow: 3px 2px 1px 0px rgba(204, 204, 204, 1);
      -moz-box-shadow:    3px 2px 1px 0px rgba(204, 204, 204, 1);
      box-shadow:         3px 2px 1px 0px rgba(204, 204, 204, 1);
    }
    .project__members{
      position:relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin:20px;
      padding:20px;
      height: 300px;
      background-color: $card-color;
      -webkit-box-shadow: 3px 2px 1px 0px rgba(204, 204, 204, 1);
      -moz-box-shadow:    3px 2px 1px 0px rgba(204, 204, 204, 1);
      box-shadow:         3px 2px 1px 0px rgba(204, 204, 204, 1);
      .project__members__name{
        text-transform: uppercase;
        font-size: 1.1rem;
      }
      .project__members__delete,
      .project__members__add_admin{
        width: 100px;
        padding:5px;
      }
    }
  }
  #project-map-container{
    background-color: $main-color--translucid;
    height: 450px;
    margin:20px;
  }
}