/*
.form:before, 
.form:after { 
	content: " "; display: table; 
}

.form:after { 
	clear: both; 
}
.form{
	max-width: 30%;
	background-color: #D3A588;
	padding: 10px;
	margin: 60px auto;
	-webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 49, 0.32);
	-moz-box-shadow:    4px 4px 3px 0px rgba(50, 50, 49, 0.32);
	box-shadow:         4px 4px 3px 0px rgba(50, 50, 49, 0.32);
}

.form label {
	display: block;
	padding: 20px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	color: #7A5A58;
}


.form input,
.form textarea,
.form select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #7A5A58;
	display: block;
	width: 100%;
	background: #ECE2D0;
}
.form input,
.form textarea {
	border: 3px solid #D3A588;
}

.form input:focus,
.form textarea:focus,
.form label:active + input,
.form label:active + textarea {
	outline: none;
	border: 3px solid #7A5A58;
}


.form input.submit {
	background: #7A5A58;
	border: none;
	color: #ECE2D0;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.form input.submit:hover {
	background: #7A6563;
}



.submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}
*/