@import "variables";

.home-wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .home__title{
    font-size: 3rem;
    color: $main-color;
    text-align: center;
    padding: 30px;
  }
  .home__text{
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2rem;
    .login,
    .signup{
      padding: 15px;
      display: block;
      background-color: $main-color;
      color: $background-color;
      width: 60%;
      margin: 25px auto;
      text-align: center;
    }
  }
}
.grow{
  height: 300px;
}
.home-map--not-animated{
  background-color:$main-color--translucid;
  display: block;
  transform: translate(100%, -100%);
  width: 100vw;
  height: 100vh;
  transition: all .4s ease-in-out;
}
.map-session-trigger{
  z-index: 100;
  position: relative;
}
/*-----------------
  MAP ANIMATION
------------------*/

.home-map--animated{
  transform: translate(0%, -100%);
}
.map-close{
  font-size: 2rem;
  z-index: 100;
  color: $main-color;
  position: absolute;
  right: 50px;
  cursor: pointer;
}
