<% if user_signed_in? %>
  <nav class="main-navigation">
      <li class="main-navigation__item--user"><%= current_user.name %></li>
      <li class="main-navigation__item"><%= link_to 'Perfil', user_path(current_user.id), class: "profile" %></li>
      <li class="main-navigation__item"><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "log_out"  %></li>
  </nav>
<% end %>